<!--<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="text-white .fs-54">Seja bem-vindo(a)!</h1>
                    <h5 class="fs-18">Expresse aqui seus pensamentos e opniões!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
            <img src="https://i.imgur.com/12yA1k5.png" alt="" width="500px" height="500px">
        </div>
    </div>
</div>-->

<div class="container texto habilitar-resposivo">
    <div class="botoes">
        <!-- CASO O USUARIO SEJA ADM, MOSTRA ESSA OPCAO CASO CONTRARIO NAO -->
        <button *ngIf='authService.adm()' class="botao" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
        <a class="botao-outline" href="#postagens">Ver Postagens</a>
    </div>
</div>

<div class="container mb-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-start" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active texto" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
          <a (click)='findByIdUsuario()' class="nav-item nav-link texto" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
          <a class="nav-item nav-link texto" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagem por Tema</a>
        </div>
    </nav>
    <div class="tab-content texto" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

          <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="titulo" placeholder="Pesquise uma postagem" [(ngModel)]='tituloPost' (keyup)='findAllByTituloPostagem()'>
              </div>
            </div>
          </div>

            <div class="card-columns">
              <div class="card text-center m-2" *ngFor='let item of listaDePostagens | orderBy: key : reverse'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="text-muted">Tema: {{item.tema.descricao}}</small>
                  <p class="card-text mt-3">{{item.texto}}</p>
                  <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
                  <p class="card-text"><small class="text-muted">by: {{item.autor.nome}}</small></p>
                </div>
              </div>
            </div>

        </div>
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="card-columns">
              <div class="card text-center m-2" *ngFor='let item of usuario.postagem | orderBy: key : reverse'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="text-muted">Tema: {{item.tema.descricao}}</small>
                  <p class="card-text mt-3">{{item.texto}}</p>
                  <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
                  <a class="text-info mr-3" [routerLink]="['/postagem-edit', item.id]" >Editar</a>
                  <a class="text-danger" [routerLink]="['/postagem-delete', item.id]">Apagar</a>
                </div>
              </div>
            </div>

        </div>
        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

          <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="titulo" placeholder="Pesquise por tema" [(ngModel)]='nomeTema' (keyup)='findAllByNomeTema()'>
              </div>
            </div>
          </div>

            <div class="card-columns" *ngFor='let tema of listaDeTemas'>
              <div class="card text-center m-2" *ngFor='let item of tema.postagem | orderBy: key : reverse'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <p class="card-text mt-3">{{item.texto}}</p>
                  <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
                  <p class="card-text"><small class="text-muted">by: {{item.autor.nome}}</small></p>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title texto-bold" id="exampleModalLongTitle">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group texto">
                <label for="titulo">Título</label>
                <input [(ngModel)]='postagem.titulo' type="text" class="form-control texto-input" id="titulo" placeholder="Título">
            </div>
            <div class="form-group texto">
                <label for="texto">Texto</label>
                <textarea [(ngModel)]='postagem.texto' name="texto" class="form-control texto-input" id="texto" rows="3" placeholder="Digite seu texto aqui..."></textarea>
            </div>
            <div class="form-group texto">
                <!-- O ATRIBUTO data-dismiss="modal", FAZ COM QUE O ITEM INFORMADO SEJA FINALIZADO POR COMPLETO -->
                <label class="texto-gray" for="texto">Escolha um tema ou <a class="texto-link" (click)='remover()' routerLink='/tema' data-dismiss="modal">cadastre um novo</a>: </label>
                <!-- POR MEIO DA ESCOLHA DO USUARIO E PELO METODO (CHANGE) E CAPITURADO O ID DA OPCAO ESCOLHIDA PELO USUARIO -->
                <select [(ngModel)]='idTema' class="form-control texto-input" name="tema" id="tema" (change)='findByIdTema()'>
                    <!-- CRIA UM LOOP FOR PARA MOSTRAR TODAS AS OPCOES CONTIDAS DENTRO DA BADE DE DADOS DE TEMA -->
                    <!-- TRAZ O VALOR DO ID DE CADA TEMA E DEIXA-O ARMAZENDO DENTRO DO VALUE="id" -->
                    <option *ngFor='let item of listaDeTemas' value="{{item.id}}">{{item.descricao}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="botao texto" data-dismiss="modal">Cancelar</button>
            <!-- CHAMA O METODO PUBLICAR() PARA REALIZAR A INSERCAO DOS DADOS NA BASE DE DADOS -->
            <button type="button" class="botao texto" id="publicacao" (click)='publicar()' (mouseover)='publicarOver()' (mouseout)='publicarOut()' data-dismiss="modal">Publicar</button>
        </div>
        </div>
    </div>
</div>
